.places {
    width: 77vw;
    max-width: 984px;
    margin: auto;
}

@media screen and (max-width: 1279px) {
.places {
    width: 90.5vw;
}
}

@media screen and (max-width: 1023px) {
.places {
    width: 93.5vw;
    max-width: 928px;
}
}

@media screen and (max-width: 767px) {
.places {
    width: 100%;
    max-width: 720px;
}
}