.intro {
    margin: 92px auto 0;
    width: 76.5vw;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
.intro {
    width: 90.5vw;
}
}

@media screen and (max-width: 1023px) {
.intro {
    margin-top: 88px;
    width: 93.5vw;
    max-width: 928px;
}
}

@media screen and (max-width: 767px) {
.intro {
    margin-top: 64px;
    width: 90vw;
    max-width: 720px;
}
}